=========== СВОЙСТВА ХОРОШИХ ТРЕБОВАНИЙ: ===========

1) Завершённость и ясность.
После прочтения требования у тестировщика не должно остаться никаких дополнительных вопросов.

2) Актуальность.
В процессе реализации приложения некоторые требования приходится менять. Нужно следитьт, чтобы все изменения были зафиксированы в спецификации.

3) Непротиворечивость.
Требования не должны противоречить самим себе и другим требованиям.

4) НЕдвусмысленность.
Требования должны быть НЕдвусмысленными. В требованиях не должно быть фраз "и так далее", "нормально", "просто", "результативно".

5) Выполнимость.
Требования должны быть выполнимыми. Должна быть возможнсоть реализовать требования. Стоит иметь в виду, что требование может быть реализуемо в целом, но в рамках бюджета проекта или ограничении по времени - оно нереализуемо. При наличии труднореализуемых требований следует консультироваться с командой разработчиков и менеджером о целесообразности реализации данного функционала.

6) Прослеживаемость.
Требования должны быть прослеживаемыми. Очень трудно работать с требованиями, которые оформлены обычным текстом. Идеально, когда у каждого требования есть свой УНИКАЛЬНЫЙ НОМЕР, когда требования разбиты на группы и подгруппы в зависимости от функционала, к которому относятся.

7) Проранжированность по важности.
Важные требования, которые описывают основной функционал, должны быть отмечены как Major или Main или другим маркером, принятым на проекте.



============= ПРИНЦИПЫ ТЕСТИРОВАНИЯ ТРЕБОВАНИЙ =============

1) Тестирование требований при возсожности лучше проводить ДО СТАРТА разработки.
2) Самый лучший спостоб протестировать требования - составить по ним тест-кейсы.
3) Тестировать требования должен НЕ тот член команды, который эти требования писал.
4) При обнаружении бага в требованиях необходимо завести дефект и предупредить о нем команду разработчиков (если уже начался этап разработки).
5) Уровень детализации требований зависит от сложности приложения. Не стоит тратить время и описывать явные требования.




